[Unit]
Description=Check Ping Shutdown Service
After=network.target

[Service]
ExecStart=/usr/local/bin/check-ping-shutdown.sh
Restart=no
User=root
StandardOutput=journal
SyslogIdentifier=check-ping-shutdown

[Install]
WantedBy=multi-user.target
