Source: check-ping-shutdown
Section: utils
Priority: optional
Maintainer: Monty Rhodes <monty@inabit-limited.tech>
Standards-Version: 4.5.0

Package: check-ping-shutdown
Architecture: all
Depends: systemd
Description: A script and systemd service to check ping and shut down the system.
