#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	install -D -m 644 check-ping-shutdown.conf debian/check-ping-shutdown/etc/check-ping-shutdown.conf
	install -m 755 check-ping-shutdown.sh debian/check-ping-shutdown/usr/local/bin/check-ping-shutdown.sh
	install -D -m 644 check-ping-shutdown.service debian/check-ping-shutdown/lib/systemd/system/check-ping-shutdown.service
